/* animaciones */
.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.img-trp{
  opacity: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: black;
}
